*.csv
*.gz
*.pkl
*.swp
*.pth
*.npz
*/.ipynb_checkpoints/*
*/.virtual_documents/*
*/.checkpoints/*
*.zip
*.jpg
*.bin
*.mp4
*.ckpt
.ipynb_checkpoints
.idea/
*.so
*wandb*
input
output
.DS_Store
__pycache__/
virtual_documents/
~                                                                                                                                                                       
~    
